html,
body {
  position: relative;
  height: 100vh;
}

body {
  background: -moz-linear-gradient(90deg, rgba(216,71,130,0.9) 0%, rgba(247,131,65,0.9) 100%);
  background: -webkit-linear-gradient(90deg, rgba(216,71,130,0.9) 0%, rgba(247,131,65,0.9) 100%);
  background: linear-gradient(90deg, rgba(216,71,130,0.9) 0%, rgba(247,131,65,0.9) 100%);
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
}

.logo {
  height: 10%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.swiper {
  margin-top: 5%;
  height: 400px;
  width: 300px;
}

.swiper-slide {
  border-radius: 10px;
  font-family: 'Varela Round', sans-serif;
  background-color: whitesmoke;
  color: #202124;
  position: relative;
}

.swiper-slide img {
  height: 220px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.swiper-slide:nth-child(1) {
  background-color: whitesmoke;
}

.swiper-slide:nth-child(2n) {
  background-color: whitesmoke;
}

.swiper-slide:nth-child(3n) {
  background-color: whitesmoke;
}

.swiper-slide:nth-child(4n) {
  background-color: whitesmoke;
}

.swiper-slide:nth-child(5n) {
  background-color: whitesmoke;
}

.text-card {
  top: 220px;
  padding: 5px 15px;
  text-align: justify;
  position: absolute;
  font-size: 14px;
}

.text-card .projet a {
  color: #202124;
  text-decoration: none;
}

.text-card .description {
  margin: 0;
}

.text-card .projet a:hover {
  background-color: lightgrey;
  border-radius : 15px;
  margin: 5px;
  padding: 8px 22px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bubbles .projet {
  line-height: 0.4;
}

.bubbles {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.bubble {
  background-color: lightgrey;
  border-radius : 15px;
  margin: 5px;
  padding: 8px 22px;
  margin-right: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile {
  display: flex;
  color: whitesmoke;
  font-family: 'Varela Round', sans-serif;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  padding-top: 10px;
}

.name {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  align-items: baseline;
}
.name h1{
  padding-right: 15px;
  font-size: 18px;
}

.details h2, h3 {
  margin: 0;
  font-size: 15px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 0.5;
}

.match {
  margin-top: 1rem;
  background-color: whitesmoke;
  color: #d84782;
  border-radius: 20px;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.match h2 {
  font-size: 16px;
}

.shady {
  animation: shady 3s linear infinite;
  cursor : pointer;
}

@keyframes shady {
  0% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(247,131,65, 0.5);}
  20% {box-shadow: 0 0 0 50px rgba(255,255,255,0), 0 0 0 0px rgba(247,131,65, 0);}
  20.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(247,131,65, 0.5);}
  50% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(247,131,65, 0.5);}
  70% {box-shadow: 0 0 0 50px rgba(255,255,255,0), 0 0 0 0px rgba(247,131,65, 0);}
  70.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(247,131,65, 0.5);}
  100% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(247,131,65, 0.5);}
}

.reseau {
  margin-top: 20px;
  margin-bottom: 20px;
}
.reseau i {
  padding-right: 10px;
}
.reseau a, i, ul {
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
}

.hidden {
  display: none;
}

.footer {
  height: 20px;
}

@media screen and (max-width: 500px)
{
  .swiper {
  margin-top: 15%;
}

.logo {
  height: 5%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
}

